PLATFORM=linux/amd64

# Monitoring tags
UPTIME_KUMA_TAG=2.5.5-slim-rootless
GLANCES_TAG=4.5.7

# Portainer tags
PORTAINER_TAG=2.45.1

# Registry tags
REGISTRY_TAG=3.1.2
JOXIT_TAG=2.6.0

# Services
GSHOCK_TAG=915a568
